<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index page</title>
</head>
<body>
    <h1>Hello world</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quia ratione doloribus, sit soluta ducimus a vel fugit corporis ex ut repudiandae blanditiis magnam voluptate nisi placeat odio! Ipsa illo dolorum ipsam, consequatur veniam ab! Facilis rerum officia recusandae impedit nisi molestias, accusantium ea laborum dolor commodi debitis numquam voluptates est aperiam quia, iusto fuga excepturi quos incidunt. Veritatis qui nesciunt sequi, ab deserunt minima quo molestiae architecto exercitationem deleniti ea asperiores sit neque eveniet praesentium voluptas fugiat iusto labore unde nostrum enim possimus? Quibusdam amet consequatur voluptates similique aliquam harum consequuntur! Laudantium deleniti quasi, est id pariatur quisquam placeat.</p>
</body>
</html>